<html>
    <head>
        <title>Reward</title>
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Gambar</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                        <td>{{d.nama}}</td>
                        <td>{{d.deskripsi}}</td>
                        <td>{{d.gambar}}</td>
                        <td>
                            <a href="delete_event?id={{d.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>